.vs/StudyConsoleApp/v16/.suo
.vs/StudyConsoleApp/v17/.suo
ConsoleApp1/bin/Debug/ConsoleApp1.exe
ConsoleApp1/bin/Debug/ConsoleApp1.exe.config
ConsoleApp1/bin/Debug/ConsoleApp1.pdb
ConsoleApp1/bin/Debug/Microsoft.Crm.Sdk.Proxy.dll
ConsoleApp1/bin/Debug/Microsoft.Crm.Sdk.Proxy.xml
ConsoleApp1/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
ConsoleApp1/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms.dll
ConsoleApp1/bin/Debug/Microsoft.Xrm.Sdk.Deployment.dll
ConsoleApp1/bin/Debug/Microsoft.Xrm.Sdk.Deployment.xml
ConsoleApp1/bin/Debug/Microsoft.Xrm.Sdk.dll
ConsoleApp1/bin/Debug/Microsoft.Xrm.Sdk.xml
ConsoleApp1/bin/Debug/Microsoft.Xrm.Tooling.Connector.dll
ConsoleApp1/bin/Debug/Microsoft.Xrm.Tooling.Connector.xml
ConsoleApp1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ConsoleApp1/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ConsoleApp1/obj/Debug/ConsoleApp1.csproj.AssemblyReference.cache
ConsoleApp1/obj/Debug/ConsoleApp1.csproj.CopyComplete
ConsoleApp1/obj/Debug/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/obj/Debug/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/obj/Debug/ConsoleApp1.exe
ConsoleApp1/obj/Debug/ConsoleApp1.pdb
ConsoleApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleApp1/obj/Debug/StudyConsole.csproj.AssemblyReference.cache
ConsoleApp1/obj/Debug/StudyConsole.csproj.CoreCompileInputs.cache
ConsoleApp1/obj/Debug/StudyConsole.csproj.FileListAbsolute.txt
packages/System.Collections.4.3.0/.signature.p7s
packages/System.Collections.4.3.0/dotnet_library_license.txt
packages/System.Collections.4.3.0/System.Collections.4.3.0.nupkg
packages/System.Collections.4.3.0/ThirdPartyNotices.txt
packages/System.Collections.4.3.0/lib/MonoAndroid10/_._
packages/System.Collections.4.3.0/lib/MonoTouch10/_._
packages/System.Collections.4.3.0/lib/net45/_._
packages/System.Collections.4.3.0/lib/portable-net45+win8+wp8+wpa81/_._
packages/System.Collections.4.3.0/lib/win8/_._
packages/System.Collections.4.3.0/lib/wp80/_._
packages/System.Collections.4.3.0/lib/wpa81/_._
packages/System.Collections.4.3.0/lib/xamarinios10/_._
packages/System.Collections.4.3.0/lib/xamarinmac20/_._
packages/System.Collections.4.3.0/lib/xamarintvos10/_._
packages/System.Collections.4.3.0/lib/xamarinwatchos10/_._
packages/System.Collections.4.3.0/ref/MonoAndroid10/_._
packages/System.Collections.4.3.0/ref/MonoTouch10/_._
packages/System.Collections.4.3.0/ref/net45/_._
packages/System.Collections.4.3.0/ref/netcore50/System.Collections.dll
packages/System.Collections.4.3.0/ref/netcore50/System.Collections.xml
packages/System.Collections.4.3.0/ref/netcore50/de/System.Collections.xml
packages/System.Collections.4.3.0/ref/netcore50/es/System.Collections.xml
packages/System.Collections.4.3.0/ref/netcore50/fr/System.Collections.xml
packages/System.Collections.4.3.0/ref/netcore50/it/System.Collections.xml
packages/System.Collections.4.3.0/ref/netcore50/ja/System.Collections.xml
packages/System.Collections.4.3.0/ref/netcore50/ko/System.Collections.xml
packages/System.Collections.4.3.0/ref/netcore50/ru/System.Collections.xml
packages/System.Collections.4.3.0/ref/netcore50/zh-hans/System.Collections.xml
packages/System.Collections.4.3.0/ref/netcore50/zh-hant/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.0/System.Collections.dll
packages/System.Collections.4.3.0/ref/netstandard1.0/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.0/de/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.0/es/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.0/fr/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.0/it/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.0/ja/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.0/ko/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.0/ru/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.0/zh-hans/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.0/zh-hant/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.3/System.Collections.dll
packages/System.Collections.4.3.0/ref/netstandard1.3/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.3/de/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.3/es/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.3/fr/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.3/it/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.3/ja/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.3/ko/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.3/ru/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.3/zh-hans/System.Collections.xml
packages/System.Collections.4.3.0/ref/netstandard1.3/zh-hant/System.Collections.xml
packages/System.Collections.4.3.0/ref/portable-net45+win8+wp8+wpa81/_._
packages/System.Collections.4.3.0/ref/win8/_._
packages/System.Collections.4.3.0/ref/wp80/_._
packages/System.Collections.4.3.0/ref/wpa81/_._
packages/System.Collections.4.3.0/ref/xamarinios10/_._
packages/System.Collections.4.3.0/ref/xamarinmac20/_._
packages/System.Collections.4.3.0/ref/xamarintvos10/_._
packages/System.Collections.4.3.0/ref/xamarinwatchos10/_._
.vs/StudyConsoleApp/project-colors.json
